<div class="w-full bg-black text-center p-4">

    <div class="w-full flex space-x-2 items-center justify-between">

        <div class="flex space-x-2">
            <a href="https://www.instagram.com/thenorthface/" target="_blank"><img src="../../../assets/instagram.png" alt="instagram"
                    class="hover:scale-110 transition cursor-pointer w-10"></a>
            <a href="https://twitter.com/thenorthface?lang=es" target="_blank"><img src="../../../assets/gorjeo.png" alt="twitter"
                    class="hover:scale-110 transition cursor-pointer w-10"></a>
            <a href="https://www.facebook.com/thenorthface/?locale=es_ES" target="_blank"><img src="../../../assets/facebook.png" alt="facebook"
                    class="hover:scale-110 transition cursor-pointer w-10"></a>
            <a href="https://www.youtube.com/@TheNorthFace" target="_blank"><img src="../../../assets/youtube.png" alt="youtube"
                    class="hover:scale-110 transition cursor-pointer w-10"></a>
        </div>

        <img src="../../../assets/logo-white.jpg" alt="logo" class="w-44">

    </div>
</div>