<div class="flex flex-row justify-between items-center h-20 bg-gradient-to-b from-white to-transparent">
    <div class="flex flex-row justify-evenly items-center space-x-12">
        <img src="../../../assets/logo.png" alt="logo" class="w-36 ml-6">

        <a routerLink="/home" routerLinkActive="active-link"
            class="font-bold text-lg border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300 px-2">Home</a>
        <a routerLink="/products" routerLinkActive="active-link"
            class="font-bold text-lg border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300 px-2">Products</a>
        <a routerLink="/admin" routerLinkActive="active-link"
            class="font-bold text-lg border-b-2 border-transparent hover:border-b-2 hover:border-black transition duration-300 px-2">Admin</a>
    </div>


    <div class="flex space-x-5 mr-6">

        <div class="flex items-center border-b-2 border-black">
            <span class="material-symbols-outlined">search</span>
            <input type="text" name="search" id="search" placeholder="Buscar..." class="p-1 focus:outline-none">
        </div>

        <div class="cursor-pointer">
            <span class="material-symbols-outlined text-4xl">
                shopping_cart
            </span>
        </div>

        <div class="cursor-pointer">
            <span class="material-symbols-outlined text-4xl">
                account_circle
            </span>
            <!--<img src="../../../assets/usuario.png" alt="user" class="w-8 ml-10 mr-10">-->
        </div>
    </div>
</div>