<div class="flex flex-row justify-between items-center h-20 bg-gradient-to-b from-white to-transparent">
    <img src="../../../assets/logo.png" alt="logo" class="w-36 ml-6">
    <div class="flex flex-row justify-evenly items-center space-x-20 mr-20">
        <a routerLink="/home" routerLinkActive="active-link" class="bg-black text-white rounded-full px-6 py-1 hover:bg-slate-900">Home</a>
        <a routerLink="/products" routerLinkActive="active-link" class="bg-black text-white rounded-full px-6 py-1 hover:bg-slate-900">Products</a>
        <a routerLink="/admin" routerLinkActive="active-link" class="bg-black text-white rounded-full px-6 py-1 hover:bg-slate-900">Admin</a>
    </div>
    <div>
        <img src="../../../assets/usuario.png" alt="user" class="w-8 mr-10">
    </div>
</div>
