<div class="flex justify-evenly items-start mb-7">

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()"
        class="flex flex-col justify-center items-center w-[600px] pb-[65px] space-y-5 ml-8 border">
        <h1 class="text-center text-3xl font-bold my-6">Agregar un prodcuto</h1>
        <div class="flex flex-col w-64">
            <label for="referenceNumber">Número de Referencia:</label>

            @if(productForm.get('referenceNumber')?.touched && productForm.get('referenceNumber')?.value === ''){
            <p class="text-red-500">El número de referencia es obligatorio</p>
            }

            <input type="text" formControlName="referenceNumber" id="referenceNumber" name="referenceNumber"
                class="border-gray-500 p-1 border-2 rounded-sm" required>


        </div>

        <div class="flex flex-col w-64">
            <label for="productName">Nombre del Producto:</label>

            @if(productForm.get('productName')?.touched && productForm.get('productName')?.value === ''){
            <p class="text-red-500">El nombre del producto es obligatorio</p>
            }

            <input type="text" formControlName="productName" id="productName" name="productName"
                class="border-gray-500 p-1 border-2 w-full rounded-sm" required>
        </div>

        <div class="flex flex-col w-64">
            <label for="price">Precio:</label>

            @if(productForm.get('price')?.touched && productForm.get('price')?.value === ''){
                <p class="text-red-500">El precio del producto es obligatorio</p>
            }@else if (productForm.get('price')?.touched && productForm.get('price')?.value < 1){
                <p class="text-red-500">El precio del producto no puede ser negativo</p>
            }

            <input type="number" id="price" formControlName="price" name="price"
                class="border-gray-500 border-2 p-1 rounded-sm" required>
        </div>

        <div class="flex flex-col w-64">
            <label for="description">Descripción:</label>
            @if(productForm.get('description')?.touched && productForm.get('description')?.value === ''){
                <p class="text-red-500">La descripcion del producto es obligatoria</p>
            }
            <textarea id="description" name="description" formControlName="description"
                class="border-gray-500 border-2 p-1 rounded-sm resize-none" required></textarea>
        </div>

        <div class="flex items-center space-x-10">
            <div class="space-x-2 flex flex-col">
                <label for="productType" class="ml-2">Tipo de Producto:</label>
                @if(productForm.get('productType')?.touched && productForm.get('productType')?.value === ''){
                    <p class="text-red-500">El tipo de producto es obligatorio</p>
                }
                <select id="productType" name="productType" formControlName="productType"
                    class="border-gray-500 border-2 p-1 rounded-sm w-40" required>
                    <option value="Zapatillas">Zapatillas</option>
                    <option value="Chaqueta">Chaqueta</option>
                    <option value="Sudadera">Sudadera</option>
                    <option value="Camiseta">Camiseta</option>
                    <option value="Pantalones">Pantalones</option>
                    <option value="Mochila">Mochila</option>

                </select>
            </div>
            <div class="flex space-x-2">
                <label for="isOnSale">Producto en Oferta</label>
                <input type="checkbox" id="isOnSale" formControlName="isOnSale" name="isOnSale">
            </div>
        </div>



        <div class="space-x-2 py-4 flex flex-col">
            <label for="productImage" class="ml-2">Imagen del Producto:</label>
            @if(productForm.get('productImage')?.touched && productForm.get('productImage')?.value === ''){
                <p class="text-red-500">La imagen del producto es obligatoria</p>
            }
            <input type="text" formControlName="productImage" id="productImage" name="productImage"
                class="border-gray-500 p-1 border-2 rounded-sm w-96" placeholder="Link" required>
        </div>

        <button class="bg-black text-white rounded-sm px-6 py-1 hover:bg-slate-900 transition-all duration-200"
            type="submit">Guardar</button>
    </form>

    <img src="../../../assets/imagen1.jpg" alt="imagen" class="w-[414px]">

</div>