<div class="relative">
    <video autoplay muted loop id="video-background" class="w-full h-auto">
        <source src="../../../assets/video.mp4" type="video/mp4">
        Tu navegador no admite video HTML5.
    </video>

    <div class="z-10 p-16 w-[390px] ml-14 absolute top-14">
        <h1 class="text-5xl font-bold text-wrap mb-4 text-white">Never Stop Exploring.</h1>
        <p class="text-white mb-4">Equipamiento modular avanzado diseñado para misiones de all-mountain.</p>
        <a routerLink="/products" routerLinkActive="active-link"><button class="bg-white w-full rounded-sm hover:bg-black hover:text-white transition-all duration-200 py-2">Comprar ya</button></a>
    </div>
</div>
